rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if false;
    }

    match /levels/{document} {
      allow write: if false;
      allow read: if true;
    }
    
    function isValidScore() {
      let data = request.resource.data;
      return data.userName is string && 
      data.userName.size() >= 1 && 
      data.userName.size() <= 10 && 
      data.levelId is string && 
      data.time is int
    }

    match /scores/{document} {
      allow create: if isValidScore();
      allow update, delete: if false;
      allow read: if true;
    }
  }
}